@media (min-width: 720px) {
    body {
        align-items: center;
    }

    header h1, h2 {
        margin-top: 10px;
    }

    main {
        width: 85%;
        justify-content: center;
        margin-top: 30px;
    }

    header {
        margin-bottom: 0;
    }

    #icones-header {
        margin-top: 30px;
    }

    #icones-header img:hover {
    transition: 0.8s;
    width: 3.2em;
}

    #links-uteis {
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        gap: 1vw;
        align-items: start;
    }

    #icones-header img {
        width: 48px;
        height: 48px;
        margin: 12px 10px;
    }

    footer { height: 40px; }

    /*----------------Sobre mim----------------*/

    
#sobre-mim{
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40%;
}

#sobre-mim h1{
    font-size: 2em;
    padding-bottom: 5px;
}

#sobre-mim h2{
    padding-bottom: 10px;
}

#sobre-mim h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    padding-bottom: 5px;
  
}

#sobre-mim p{
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0;
    line-height: 1.6em;
    border-top: 3px dashed var(--cinza-claro);
}

#sobre-mim h5{
    font-family: 'rubik', sans-serif;
    opacity: 0.7;
}

.text-laranja{
    color: var(--laranja);
}


}
